<!DOCTYPE html>
<html>
  <head>
    <title>Gardens On Anderton</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,500&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="hero">
      <nav>
        <div id="menu">
          <div id="pencet">
            <span id="hamburg"></span>
            <span id="hamburg"></span>
            <span id="hamburg"></span>
          </div>
        </div>
        <ul id="backnav">
          <li class="hidden_logo"><a href=""></a></li>
        <li><a href="/">HOME</a></li>
        <li><a href="/gardens">GARDENS</a></li>
        <li><a href="/membership">MEMBERSHIP</a></li>
        <li><a href="#">RENTALS</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <div class="logo">
      <img src="img/deco-logo-light.svg" alt="Anderton Gardens Logo">
    </div>
    <div class="hero__text">
      <h1 data-aos="zoom-out">DISCOVER THE GARDENS</h1>
    </div>
    </div>
    <section class="full-page">
        <!-- About The Gardens Section -->
    <section class="garden__description">
      <div class="description__header">
        <h1>About</h1>
        <h2>The Gardens</h2>
      </div>
      <div class="gardens__body">
          <p>Many longtime Comox Valley residents are always surprised to discover a 
              local hidden gem known as the Anderton Therapeutic Gardens (ATGS). The Gardens opened in 1998 
              after two years of planning by founders Bill and Joy Georgeson. </p>

              <p>Their dream was to create a garden that would enhance a visitor’s overall well-being in a 
                  tranquil, idyllic setting. This two-acre parcel of land is located directly behind the Nursery
                   on Anderton Road and stands as a proud testament to the thousands of hours of volunteer work 
                   that have gone into maintaining the gardens over the years.</p>
                   <p class="extra-m">We invite you to enjoy this jewel in our neighborhood.</p>
      </div>
    </section>

    <section class="garden__features">
      <img class="music-setup" src="img/musicSetup.jpg" alt="A stage being prepped for a live musical performance">
      <img class="garden-img" src="img/garden.jpg" alt="a well kept rock garden with many plants">
        <div class="garden__wrapper">
          <h1>
            GARDEN FEATURES
          </h1>
          <ul class="garden__list">
              <li>Well cared for flower beds and paths</li>
              <li>Lilly covered ponds</li>
              <li>A trickling stream</li>
              <li>Orchards and trees</li>
              <li>A labyrinth</li>
              <li>An apiary for beekeeping</li>
              <li>Children's interactive garden</li>
              <li>A shaded courtyard</li>
              <li>Extensive lawns</li>
              <li>Rose & Dahlia gardens</li>
          </ul>
          <p>Whether you’re a painter, photographer, musician, or just want 
              to spend time digging in a garden, we have a wide range of recreational opportunities including:
        </p>

        <ul id="no-pad">
            <li>A covered stage for musical performances, weddings, teas, dances, and art shows.</li>
            <li>Forty-two allotments that enable avid gardeners to grow their own vegetables each year.</li>
            <li>55+ Green Thumb Gardeners Club</li>
        </ul>

            <p>Be sure to visit the Gift Shop to find a unique gift, maybe get a bite to eat or a drink. 
                </p>
        </div>
      </section>

    <!--Childrens Garden Section-->

    <section class="garden__description">
      <div class="description__header">
        <h1>Children's</h1>
        <h2>Garden</h2>
      </div>
      <div class="gardens__body">
          <p>The new Children’s Garden was ready in time for our opening at the end of May, 2021. Children are 
              welcome to come and spend time in the play area between 10 and 4 most days during 
              the summer. Please check our Events page for dates that we are closed for private events.</p>
              <div class="childrens__playground">

              </div>

      </div>
    </section>

            <!-- Our History & Mission -->

    <section class="garden__description ourmission bottom-desc">
      <div class="description__header">
        <h1>Our</h1>
        <h2>History & Mission</h2>
      </div>
      <div class="gardens__body">
          <p>The Anderton Therapeutic Gardens Society (ATGS) has one simple mission statement: </p>

              <p class="quote">“We are a volunteer society that provides a unique therapeutic garden through diverse,
                   enjoyable, interactive and healing activities for people of all ages and abilities.”</p>


          <p>The concept of creating the therapeutic gardens came about in 1996 when founders Joy and Bill
               Georgeson got a little encouragement from Christine Pollard, Horticultural 
               Therapist at Providence Farms in Duncan. A 30 year lease for a two acre parcel 
               of land from the owners of the Anderton Nursery, Ellen Presley and Karl Opelka, 
               was secured in 1997 (a gift for just $1 per year) and the ATGS was officially registered.</p>

               <p>Ground was broken in the Spring of 1998 and the staff consisted of just
                    10 people at the time. The society was spearheaded by Joy & Bill for a number of years, 
                    drawing in a lot of others to help. They did all the fundraising, labour, public relations, 
                    and so much more. The number of volunteers swelled to approximately 40 members for much of that 
                    time. Bill passed away in 2014 and Joy continues to be actively involved in the Gardens.
            </p>


      </div>
    </section>
    </section>

    <section class="footer__section">
      <footer>
        <div class="visit-us">
          <h1>Come Visit Us</h1>
          <p>Open May - Sept</p>
          <p>10am - 4pm</p>
          <p>7 days a week</p>
          <h1>2012 Anderton Road <br> Comox BC</h1>
        </div>
        <div class="bottom-logo">
          <h1 class="anderton__h1">Anderton</h1>
          <h1>Gardens</h1>
        </div>
        <div class="footer__form">
          <h1>Subscribe to our <br> Newsletter</h1>
          <p>Stay up to date on upcoming events</p>
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email">
          <button>Subscribe</button>
        </div>
      </footer>
    </section>
    <script src="js/index.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
