<!DOCTYPE html>
<html>
  <head>
    <title>Gardens On Anderton</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,500&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="hero">
      <nav>
        <ul>
          <li class="hidden_logo"><a href=""></a></li>
        <li><a href="/">HOME</a></li>
        <li><a href="/gardens">GARDENS</a></li>
        <li><a href="#">MEMBERSHIP</a></li>
        <li><a href="#">RENTALS</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <div class="logo">
      <img src="img/deco-logo-light.svg" alt="">
    </div>
    <div class="hero__text">
      <h1>EXPLORE | ESCAPE | ENJOY</h1>
    </div>
    </div>
    <section class="full-page">
    <section class="description">
      <div class="description__header">
        <h1>Anderton</h1>
        <h2>Gardens</h2>
        <p>The Gardens on Anderton is a wheelchair accessible garden space where health and 
          wellness is promoted through interactive gardening activities. Available to all ages, we are operated by volunteers.</p>
          <img class="leap-pad" src="img/ag1.png" alt="">
          <img class="directional-sign" src="img/directional-sign-at-the.png" alt="">
      </div>
    </section>
    <div class="description__body">
      <p>The Gardens on Anderton is a wheelchair accessible garden space where health and 
        wellness is promoted through interactive gardening activities. Available to all ages, we are operated by volunteers.</p>
    </div>
    <section class="cards">
      <div class="card1">
        <h1>The Gardens</h1>
      </div>
      <div class="card2">
        <h1>Event Rentals</h1>
      </div>
      <div class="card3">
        <h1>Memberships</h1>
      </div>
    </section>
    <section class="whats-happening">
      <img src="img/leaf.jpg" alt="">
        <h1>
          What’s Happening at The Gardens
        </h1>
        <div class="image__holder">

        </div>
        <p>Performance by The Highland Jiggers 
          August 21st</p>
    </section>

    <section class="footer__section">
      <footer>
        <div class="visit-us">
          <h1>Come visit us</h1>
          <p>Open may - sept</p>
          <p>10am - 4pm</p>
          <p>7 days a week</p>
          <h1>2012 Anderton Road <br> Comox BC</h1>
        </div>
        <div class="bottom-logo">
          <h1>Anderton</h1>
          <h2>Gardens</h2>
        </div>
        <div class="footer__form">
          <h1>Anderton</h1>
          <h2>Gardens</h2>
        </div>
      </footer>
    </section>
  </section>
  </body>
</html>
