<!DOCTYPE html>
<html>
  <head>
    <title>Gardens On Anderton</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,500&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/srm2inj.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="hero">
      <nav>
        <div id="menu">
          <div id="pencet">
            <span id="hamburg"></span>
            <span id="hamburg"></span>
            <span id="hamburg"></span>
          </div>
        </div>
        <ul id="backnav">
          <li class="hidden_logo"><a href=""></a></li>
        <li class="backnav__link active"><a href="/">HOME</a></li>
        <li class="backnav__link"><a href="/gardens">GARDENS</a></li>
        <li class="backnav__link"><a href="/membership">MEMBERSHIP</a></li>
        <li class="backnav__link"><a href="#">RENTALS</a></li>
        <li class="backnav__link"><a href="#">EVENTS</a></li>
        <li class="backnav__link"><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <div  class="logo">
      <img src="img/deco-logo-light.svg" alt="Anderton Gardens Logo">
    </div>
    <div class="hero__text">
      <h1  data-aos="zoom-out">EXPLORE | ESCAPE | ENJOY</h1>
    </div>
    </div>
    <section class="full-page">
    <section class="description" data-aos="fade-up"
    data-aos-duration="1000">
      <img class="leap-pad" src="img/ag1.png" alt="A nice lake located at the gardens with a lilly pad ontop">
      <img class="directional-sign" src="img/directional-sign-at-the.png"  alt="A nice view of the gardens with a directional sign pointing in many directions">
      <div class="description__header">
        <h1>Anderton</h1>
        <h2>Gardens</h2>
        <p>The Gardens on Anderton is a wheelchair accessible garden space where health and 
          wellness is promoted through interactive gardening activities. Available to all ages, we are operated by volunteers.</p>
      </div>
    </section>
    <div class="description__body">
      <p>Come and visit our rose garden, dahlia beds, labyrinth, reflective pond, children’s garden, and much more. Pack 
        a lunch, bring the family or some friends and find a quiet place to spend some time.
      </p>
    </div>
    <section class="cards">
      <a href="/gardens">
      <div  class="card1">
        <h1>The Gardens</h1>
      </div>
    </a>
    <a href="#">
      <div  class="card2">
        <h1>Event Rentals</h1>
      </div>
    </a>
    <a href="/membership">
      <div d  class="card3">
        <h1>Memberships</h1>
      </div>
    </a>
    </section>
    <section class="whats-happening">
        <h1>
          What’s Happening at The Gardens
        </h1>
        <div class="image__holder"></div>
        <p>Performance by The Highland Jiggers 
          August 21st</p>
    </section>

    <section class="footer__section">
      <footer>
        <div class="visit-us">
          <h1>Come Visit Us</h1>
          <p>Open May - Sept</p>
          <p>10am - 4pm</p>
          <p>7 days a week</p>
          <h1>2012 Anderton Road <br> Comox BC</h1>
        </div>
        <div class="bottom-logo">
          <img src="img/logo-dark.svg" alt="Andertons Logo alternative logo, designed for the footer ">
        </div>
        <div class="footer__form">
          <h1>Subscribe to our <br> Newsletter</h1>
          <p>Stay up to date on upcoming events</p>
          <input type="text" placeholder="Name">
          <input type="text" placeholder="Email">
          <a href="/">
          <button>Subscribe</button>
        </a>
        </div>
      </footer>
    </section>
  </section>
  <script src="js/index.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  </body>
</html>
