<!DOCTYPE html>
<html>
  <head>
    <title>Gardens On Anderton</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display+SC&family=Playfair+Display:ital,wght@0,400;0,600;1,400;1,500&family=Raleway:wght@300;400;500;600;700&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="hero">
      <nav>
        <div id="menu">
          <div id="pencet">
            <span id="hamburg"></span>
            <span id="hamburg"></span>
            <span id="hamburg"></span>
          </div>
        </div>
        <ul id="backnav">
          <li class="hidden_logo"><a href=""></a></li>
        <li><a href="/">HOME</a></li>
        <li><a href="/gardens">GARDENS</a></li>
        <li><a href="/membership">MEMBERSHIP</a></li>
        <li><a href="#">RENTALS</a></li>
        <li><a href="#">EVENTS</a></li>
        <li><a href="#">CONTACT</a></li>
      </ul>
    </nav>
    <div class="logo">
      <img src="img/deco-logo-light.svg" alt="Anderton Gardens Logo">
    </div>
    <div class="hero__text">
      <h1 data-aos="zoom-out">BECOME A MEMBER</h1>
    </div>
    </div>
  </section>
  <section class="full-page">
    <section class="membership__description">
        <div class="description__header">
          <h1>Join Us</h1>
          <h2>Become A Member</h2>
        </div>
        <div class="gardens__body no-marge">
            <p>Sign up to become a member and enjoy the freedom of stopping by, 
                mingling with other garden goers, or working in the gardens
                 anytime during hours of operation - free of charge. 
            </p>
  
                <p>A membership also allows you admission to summer events such as concerts, 
                    bbqs, art shows and more. See below for a list of membership benefits.</p>
        </div>
      </section>

      <section class="membership__description">
        <div class="description__header">
          <h2>Membership Benefits</h2>
        </div>
        <ul class="members__list">
            <li>Free Admission</li>
            <li>Reduced admission to summer events</li>
            <li>Garden allotment rentals</li>
            <li>Ability to volunteer around the gardens</li>
        </ul>
      </section>

      <section class="membership__description">
        <div class="description__header">
          <h2>Membership Prices (Annual)</h2>
        </div>
        <ul class="members__list">
            <li>Free Admission</li>
            <li>Reduced admission to summer events</li>
            <li>Garden allotment rentals</li>
            <li>Ability to volunteer around the gardens</li>
        </ul>
      </section>


      <section class="membership__description no-marge">
        <div class="description__header">
          <h2>Allotment Rentals</h2>
        </div>
        <div class="gardens__body no-marge">
            <p>The Gardens on Anderton has over 30 allotments available for rent by members of ATGS. 
                Our allotments vary in sizes and some are raised in order 
                to make access easier for people with mobility concerns. Please note, 
                as we are a seasonal operation, allotments can be accessed from March through October only.
            </p>
  
                <p>The cost of renting an allotment is based on its size. It ranges between $15 and 
                    $30 in addition to the annual membership fee (you must be a member to rent an allotment) 
                    Rental is for one calendar year and priority is given to previous renters.  Our allotments 
                    are very popular and tend to get rented out by February every year so the best time to 
                    check on availability is January.</p>
        </div>
      </section>

      <section class="membership__description lowpad">
        <div class="gardens__body gardens-signup">
                    <button class="member__button button-one">Online Membership Form</button>
                    <button class="member__button" >Online Allotment Form</button>

                    <li>Printable Application for Allotment 2022</li>

                    <li>Printable Application for ATGS Membership 2022</li>

                    <p class="pforms">Printable Forms can be returned by mail or in person with payment to:</p>

                    <div class="gardens-address">
                      <p class="pforms">Anderton Therapeutic Gardens Society</p>
                      <p class="pforms">PO Box 1416</p>
                      <p class="pforms">Comox BC V9M 7Z9</p>
                    </div>
        </div>
      </section>



      <section class="footer__section">
        <footer>
          <div class="visit-us">
            <h1>Come Visit Us</h1>
            <p>Open May - Sept</p>
            <p>10am - 4pm</p>
            <p>7 days a week</p>
            <h1>2012 Anderton Road <br> Comox BC</h1>
          </div>
          <div class="bottom-logo">
            <h1 class="anderton__h1">Anderton</h1>
            <h1>Gardens</h1>
          </div>
          <div class="footer__form">
            <h1>Subscribe to our <br> Newsletter</h1>
            <p>Stay up to date on upcoming events</p>
            <input type="text" placeholder="Name">
            <input type="text" placeholder="Email">
            <button>Subscribe</button>
          </div>
        </footer>
      </section>
      </section>
      <script src="js/index.js"></script>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
      <script>
        AOS.init();
      </script>
  </body>
</html>
