* {
  padding: 0;
  margin: 0;
}
a {
  color: #00b7ff;
}
.hero {
  height: 90vh;
  background-image: url(bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin: 40px auto;
  font-size: 20px;
  color: #d89c79;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul li {
  margin: 0px 10px;
}
.hidden_logo {
  width: 55%;
}
li {
  list-style-type: none;
  color: #d89c79;
}
a {
  text-decoration: none;
  color: #d89c79;
}
.logo {
  width: 85%;
  height: 60vh;
}
.logo img {
  width: 430px;
}
.hero__text {
  color: #d89c79;
  font-size: 30px;
  font-family: "Playfair Display SC", serif;
}
.description {
  height: 70vh;
  margin: 0px 190px 0px 190px;
  padding-top: 190px;
  position: relative;
}
.garden__description {
  min-height: 60vh;
  margin: 0px 190px 0px 190px;
  padding-top: 90px;
}
.bottom-desc {
	padding: 120px 0px 120px 0px;
}
.description__header {
  width: 45%;
  position: relative;
}
.description__header h1 {
  color: #b16e20;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
}
.description__header h2 {
  color: #b16e20;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 25px;
}
.description__header p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}
.leap-pad {
	position: absolute;
	width: 637px;
	height: 319px;
	top: 640px;
	left: 375px;
	transform: translate(-50%, -50%);
}
.directional-sign {
	position: absolute;
	width: 365px;
	height: 472px;
	top: 489px;
	left: 988px;
	transform: translate(-50%, -50%);
}
.description__body {
  width: 40%;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  margin-left: 190px;
}
.cards {
  margin: 190px;
  margin-top: 5%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card1 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(card1.jpg);
  background-position: center;
  background-size: cover;
}
.card2 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(card2.jpg);
  background-position: center;
  background-size: cover;
}
.card3 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(card3.jpg);
  background-position: center;
  background-size: cover;
}
.card1 h1 {
  text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
  color: #b16e20;
}
.card2 h1 {
  text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
  color: #b16e20;
}
.card3 h1 {
  text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
  color: #b16e20;
}
.card2 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card3 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whats-happening {
  height: 75vh;
  margin: 190px 190px 190px 190px;
  background: #8b9473;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.whats-happening p {
  width: 22%;
  text-align: center;
}
.whats-happening h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
.image__holder {
  margin: 25px 0;
  width: 50%;
  height: 70%;
  background-image: url(highlandJiggers.jpg);
  background-position: center;
  background-size: cover;
}
.footer__section {
  width: 100%;
  background-image: url(footer.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  margin: 20px 190px 20px 190px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visit-us {
  color: #d06f4d;
  flex: 1 1 0;
  display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
text-align: center;
}
.bottom-logo {
  color: #d06f4d;
  flex: 1 1 0;
}
.bottom-logo img {
	width: 180px;
}
.footer__form {
  color: #d06f4d;
  flex: 1 1 0;
}
.full-page {
  background-image: url(wp.png);
  background-position: center;
  background-size: cover;
  overflow-x: none;
}
.visit-us h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin: 15px 0;
}
.visit-us p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #d89c79;
  margin: 5px 0;
}
.bottom-logo {
  margin-top: auto;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: center;
  color: #d89c79;
}
.footer__form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__form h1,
button {
  margin-top: 15px;
  margin-bottom: 5px;
}
.footer__form input,
p {
  margin: 5px 0;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  text-align: left;
}
.footer__form input {
  height: 25px;
  width: 150px;
  color: #d06f4d;
  padding: 0px 10px;
  font-size: 16px;
}
.footer__form h1 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #918d6e;
  text-align: center;
}
.footer__form p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  color: #d89c79;
  line-height: 1.5;
  text-align: center;
}
.footer__form button {
  width: 120px;
  height: 35px;
  border-radius: 15px;
  background: #d06f4d;
  outline: none;
  border: none;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  cursor: pointer;
}
.anderton__h1 {
  font-size: 30px;
}

/* GARDENS PAGE */

.gardens__body {
  width: 75%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.gardens__body p {
  line-height: 1.5;
  margin: 20px 0;
}
.extra-m {
  margin-top: 30px;
}
.garden__features {
  position: relative;
  padding-left: 190px;
  background: #3a4d0782;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  overflow: hidden;
}
.music-setup {
	height: 331px;
	position: absolute;
	top: 310px;
	left: 940px;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 383px;
}
.garden-img {
	width: 318px;
	height: 293px;
	position: absolute;
	top: 460px;
	left: 1415px;
	transform: translate(-50%, -50%);
	z-index: 99;
}
.garden__wrapper {
  width: 100%;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.garden__wrapper h1 {
  margin: 25px 0;
  font-family: "Playfair Display", serif;
  font-size: 42px;
  color: white;
  letter-spacing: 2.5px;
}
.garden__wrapper ul {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: white;
	margin-left: 50px;
}
.garden__wrapper ul li {
  list-style-type: disc;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.7;
}
.garden__wrapper p {
  line-height: 1.7;
  width: 70%;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
}
.garden__list {
  margin-bottom: 10%;
}
.childrens__playground {
  width: 760px;
  height: 450px;
  background-image: url(playground.png);
  background-position: center;
  background-size: cover;
  margin: 50px 0px;
}
.members__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.members__list li {
  list-style-type: disc;
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.7;
}

/* Membership Styles */
.membership__description {
  margin: 0px 190px 0px 190px;
  padding-top: 90px;
}

.member__button {
  width: 400px;
  height: 40px;
  background: #d89c79;
  border: none;
  outline: none;
  margin: 20px 0;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: white;
}
.member__button:hover {
  -webkit-box-shadow: 0px 0px 2px 0px #00000075;
  box-shadow: 0px 0px 2px 0px #00000075;
}

.gardens__body li {
  margin: 20px 0;
  list-style-type: disc;
  text-align: left;
  color: #7a3a23;
  font-family: "Playfair Display SC", serif;
}
.gardens-signup {
  color: #594e24;
  font-style: bold;
  font-weight: 700;
}
.gardens-address {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 50px 0;
}
.gardens-address p {
  font-weight: normal;
  font-weight: 400;
  margin: 0;
}
.lowpad {
  padding-top: 30px;
}

/* RESPONSIVE STYLES */
@media only screen and (max-width: 1750px) {

  .description__header {
    width: 50%;
    position: relative;
  }
  .whats-happening p {
    width: 30%;
    text-align: center;
  }
  .visit-us h1 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    margin: 15px 0;
  }
  .footer__form p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #d89c79;
    line-height: 1.5;
    text-align: center;
  }
  .footer__form h1 {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    color: #918d6e;
    text-align: center;
  }
  .anderton__h1 {
    font-size: 24px;
  }
  .bottom-logo {
    font-family: "Playfair Display", serif;
    font-size: 18px;
    text-align: center;
    color: #d89c79;
  }
  .visit-us p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: #d89c79;
    margin: 5px 0;
  }
  .gardens__body {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .music-setup {
    height: 331px;
    position: absolute;
    top: 333px;
    left: 864px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 383px;
  }
  .garden-img {
    width: 318px;
    height: 293px;
    position: absolute;
    top: 436px;
    left: 1316px;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .hero__text {
    color: #d89c79;
    font-size: 28px;
    font-family: "Playfair Display SC", serif;
  }
  .logo img {
    width: 375px;
  }
  .logo {
    width: 80%;
    height: 60vh;
  }
  .card1 {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(card1.jpg);
    background-position: center;
    background-size: cover;
  }
  .card2 {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(card2.jpg);
    background-position: center;
    background-size: cover;
  }
  .card3 {
    width: 300px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(card3.jpg);
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (max-width: 1450px) {
  .directional-sign {
    position: absolute;
    width: 294px;
    height: 415px;
    top: 475px;
    left: 890px;
    transform: translate(-50%, -50%);
  }
  .leap-pad {
    position: absolute;
    width: 564px;
    height: 266px;
    top: 630px;
    left: 327px;
    transform: translate(-50%, -50%);
  }
  .description__header {
    width: 65%;
    position: relative;
  }
  .description__header p {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }
  .footer__form input,
  p {
    margin: 5px 0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }
  .whats-happening p {
    width: 35%;
    text-align: center;
  }
  .music-setup {
    height: 288px;
    position: absolute;
    top: 294px;
    left: 830px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 312px;
  }
  .garden-img {
    width: 256px;
    height: 254px;
    position: absolute;
    top: 466px;
    left: 1050px;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .gardens__body {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
  }
  .hero__text {
    color: #d89c79;
    font-size: 24px;
    font-family: "Playfair Display SC", serif;
  }
  .logo img {
    width: 350px;
  }
  .card1 {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(card1.jpg);
    background-position: center;
    background-size: cover;
  }
  .card2 {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(card2.jpg);
    background-position: center;
    background-size: cover;
  }
  .card3 {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(card3.jpg);
    background-position: center;
    background-size: cover;
  }
}

@media only screen and (max-width: 1250px) {
  .leap-pad {
    position: absolute;
    width: 468px;
    height: 222px;
    top: 625px;
    left: 233px;
    transform: translate(-50%, -50%);
  }
  .directional-sign {
    position: absolute;
    width: 255px;
    height: 371px;
    top: 569px;
    left: 700px;
    transform: translate(-50%, -50%);
  }
  .cards {
    margin: 120px;
    margin-top: 5%;
    margin-bottom: 0;
  }
  .card1 {
    margin: 0px 30px 0px 0px;
  }
  .card2 {
    margin: 0px 30px 0px 0px;
  }
  .card3 {
    margin: 0px 30px 0px 0px;
  }
  .image__holder {
    margin: 25px 0;
    width: 85%;
    height: 60%;
    background-image: url(highlandJiggers.jpg);
    background-position: center;
    background-size: cover;
  }
  .music-setup {
    height: 260px;
    position: absolute;
    top: 321px;
    left: 780px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 287px;
  }
  .garden-img {
    width: 256px;
    height: 254px;
    position: absolute;
    top: 490px;
    left: 960px;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .garden__list {
    margin-bottom: 20%;
  }
  footer {
    margin: 20px 0px 20px 0px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media only screen and (max-width: 1150px) {

  .music-setup {
    height: 249px;
    position: absolute;
    top: 321px;
    left: 745px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 272px;
  }
  .garden-img {
    width: 238px;
    height: 241px;
    position: absolute;
    top: 505px;
    left: 897px;
    transform: translate(-50%, -50%);
    z-index: 99;
  }

  .directional-sign {
    position: absolute;
    width: 255px;
    height: 371px;
    top: 490px;
    left: 665px;
    transform: translate(-50%, -50%);
  }
}


@media only screen and (max-width: 1000px) {
  .hidden_logo {
    display: none;
  }
.hero__text {
  display: none;
}
.bottom-logo img {
	width: 140px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#menu {
  padding: 0px 50px;
  position: relative;
  z-index:999;
}
nav {
  width: 100%;
}
nav ul {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
	background: black;
	height: 100%;
  transition: 0.5s ease-in-out;
  opacity: 1;
  top: -120%;
}
nav ul li {
  margin: 20px 0;
}
.navback {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 30%;
	background: black;
	height: 100%;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
.navback li {
	margin: 20px 0;
}
#pencet{
  display:flex;
  align-items:flex-start;
  flex-direction:column;
  cursor:pointer;
}

#pencet span{
  background-color:#d06f4d;
  width:2em;
  height:.2em;
  margin:0.26em 0;
  display:block;
  transition: all .4s ease;
  transform-origin:0 0;
}

.Diam span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -1px);
}

.Diam span:nth-child(2) {
  Transform: scaleX(0);
}

.Diam span:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0);
}
.description {
	height: 75vh;
	margin: 0px 0px 0px 50px;
	padding-top: 90px;
}
.hero {
	height: 60vh;
	background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)), url(bg.png);
	background-position: center;
	background-size: cover;
	display: flex;
	align-items: center;
	flex-direction: column;
  position: relative;
}
.logo img {
	width: 300px;
}
.description__header {
	width: 75%;
	position: relative;
}
.description__body {
	width: 75%;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	margin-left: 50px;
}
.leap-pad {
	position: absolute;
	width: 368px;
	height: 227px;
	top: 467px;
	left: 240px;
	transform: translate(-50%, -50%);
}
.directional-sign {
	position: absolute;
	width: 251px;
	height: 330px;
	top: 465px;
	left: 617px;
	transform: translate(-50%, -50%);
}
.description {
	height: 75vh;
	margin: 0px 0px 0px 50px;
	padding-top: 50px;
}
.cards {
	flex-direction: column;
  margin-top: 120px;
}
.card1, .card2, .card3 {
  margin: 0;
margin-bottom: 50px;
cursor: pointer;
transition: 0.2s ease-in-out;
}

.card1:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #00000085; 
box-shadow: 0px 0px 15px 2px #00000085; 
}
.card2:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #00000085; 
box-shadow: 0px 0px 15px 2px #00000085; 
}
.card3:hover {
  -webkit-box-shadow: 0px 0px 15px 2px #00000085; 
box-shadow: 0px 0px 15px 2px #00000085; 
}
.whats-happening {
	height: 50vh;
	margin: 120px 0px 120px 0px;
	background: #8b9473;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
}
footer {
	margin: 20px 50px 20px 50px;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
.garden__description {
	min-height: 50vh;
	margin: 0px 0px 0px 50px;
	padding-top: 50px;
  padding-bottom: 50px;
}
.gardens__body p {
	line-height: 1.5;
	margin: 20px 0;
	width: 90%;
}

.garden__features {
  padding: 0;
  padding-left: 50px;
}
.music-setup {
	height: 295px;
	position: absolute;
	top: 25%;
	left: 71%;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 331px;
}
.garden__list {
	margin-bottom: 440px;
}
.garden-img {
	width: 490px;
	height: 260px;
	position: absolute;
	top: 736px;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 99;
}
.music-setup {
	height: 276px;
	position: absolute;
	top: 339px;
	left: 640px;
	transform: translate(-50%, -50%);
	z-index: 99;
	width: 315px;
}
.garden__wrapper p {
margin-bottom: 3%;
}
.membership__description {
	margin: 0px 0px 0px 50px;
	padding-top: 50px;
}
.pforms {
  text-align: center;
}
.members__list {
	padding-left: 50px;
}
.lowpad {
  margin: 0;
}
.gardens-address {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	flex-direction: column;
	margin: 50px 0;
	width: 100%;
}
.garden__wrapper ul {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	color: white;
	margin-left: 50px;
}
.garden__wrapper p {
	line-height: 1.7;
	width: 70%;
	color: white;
	font-family: "Raleway", sans-serif;
	font-size: 20px;
	margin-left: 50px;
}
.childrens__playground {
	width: 609px;
	height: 329px;
	background-image: url(playground.png);
	background-position: center;
	background-size: cover;
	margin: 50px 0px;
}
}
@media only screen and (max-width: 820px) {

  .music-setup {
    height: 253px;
    position: absolute;
    top: 339px;
    left: 575px;
    transform: translate(-50%, -50%);
    z-index: 99;
    width: 273px;
  }
  .leap-pad {
    position: absolute;
    width: 368px;
    height: 227px;
    top: 477px;
    left: 187px;
    transform: translate(-50%, -50%);
  }
  .directional-sign {
    position: absolute;
    width: 251px;
    height: 330px;
    top: 469px;
    left: 562px;
    transform: translate(-50%, -50%);
  }
}

@media only screen and (max-width: 767px) {
  .gardens__body li {
    width: 60%;
    text-align: center;
  }
  .description__header h1 {
    color: #b16e20;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
  }
  .description__header h2 {
    color: #b16e20;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .garden-img {
    width: 466px;
    height: 247px;
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .garden__list {
    margin-bottom: 350px;
  }
  .navback {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    background: black;
    height: 100%;
    transition: 0.5s ease-in-out;
    opacity: 1;
  }
  nav ul {
    width: 40%;
  }

  .description__header {
    width: 90%;
    position: relative;
  }
  .directional-sign {
    position: absolute;
    width: 225px;
    height: 276px;
    top: 481px;
    left: 450px;
    transform: translate(-50%, -50%);
  }
  .leap-pad {
    position: absolute;
    width: 291px;
    height: 182px;
    top: 389px;
    left: 146px;
    transform: translate(-50%, -50%);
  }
  .description__body {
    width: 82%;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    margin-left: 50px;
  }
  .image__holder {
    margin: 25px 0;
    width: 75%;
    height: 54%;
    background-image: url(highlandJiggers.jpg);
    background-position: center;
    background-size: cover;
  }
  .whats-happening h1 {
    font-size: 30px;
  }
  .music-setup {
    display: none;
  }
  .garden__wrapper ul {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: white;
    margin-left: 50px;
  }
  .garden-img {
    width: 451px;
    height: 230px;
    position: absolute;
   top: 670px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  footer {
    margin: 20px 50px 20px 50px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
  }
.footer__section {
  background-position: center;
  background-size: cover;
}
.visit-us {
  margin-bottom: 55px;
}
.bottom-logo {
  margin-bottom: 55px;
}
  .footer__form input, p {
    margin: 5px 0;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.5;
    text-align: left;
  }
  .garden__wrapper h1 {
    margin: 25px 0;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    color: white;
    letter-spacing: 2.5px;
  }
  .childrens__playground {
    width: 500px;
    height: 275px;
    background-image: url(playground.png);
    background-position: center;
    background-size: cover;
    margin: 50px 0px;
  }
}
@media only screen and (max-width: 600px) {
  .directional-sign {
    position: absolute;
    width: 182px;
    height: 247px;
    top: 544px;
    left: 301px;
    transform: translate(-50%, -50%);
  }
  .leap-pad {
    position: absolute;
    width: 234px;
    height: 170px;
    top: 415px;
    left: 154px;
    transform: translate(-50%, -50%);
  }
  .image__holder {
    margin: 25px 0;
    width: 85%;
    height: 45%;
    background-image: url(highlandJiggers.jpg);
    background-position: center;
    background-size: cover;
  }
  .whats-happening p {
    width: 60%;
    text-align: center;
  }
  nav ul {
    width: 50%;
  }
  .navback {
    width: 50%;
  }
  .garden__description {
    min-height: 50vh;
    margin: 0px 0px 0px 25px;
    padding-top: 50px;
  }
  .footer__form input, p {
    margin: 5px 0;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
  .garden__features {
    padding: 0;
    padding-left: 25px;
  }
  .garden__wrapper ul li {
    list-style-type: disc;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.7;
  }
  .garden__wrapper h1 {
    margin: 25px 0;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    color: white;
    letter-spacing: 2.5px;
  }
  .description__header h1 {
    color: #b16e20;
    font-family: "Playfair Display", serif;
    font-size: 35px;
    font-weight: 700;
  }
  .garden__wrapper p {
    line-height: 1.7;
    width: 70%;
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
  }
  .garden__wrapper ul {
    margin-left: 25px;
  }
  .garden__wrapper p {
    margin-left: 25px;
  }
  #no-pad {
    margin-bottom: 3%;
  }
  .childrens__playground {
    width: 400px;
    height: 210px;
    background-image: url(playground.png);
    background-position: center;
    background-size: cover;
    margin: 25px 0px;
  }
  .ourmission {
    padding-top: 10px;
  }
  .membership__description {
    margin: 0px 0px 0px 25px;
    padding-top: 50px;
  }
  .members__list li {
    list-style-type: disc;
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.7;
  }
  .member__button {
    width: 325px;
    height: 45px;
    background: #d89c79;
    border: none;
    outline: none;
    margin: 20px 0;
    transition: 0.2s ease-in-out;
    cursor: pointer;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    color: white;
  }
  .gardens__body li {
    margin: 20px 0;
    list-style-type: disc;
    text-align: left;
    color: #7a3a23;
    font-family: "Playfair Display SC", serif;
    font-size: 18px;
    text-align: center;
    list-style-type: none;
  }
  .membership__description {
    margin: 0px 0px 0px 25px;
    padding-top: 50px;
  }
  .members__list {
    padding-left: 25px;
  }
  .lowpad {
    margin: 0 !important;
  }
  .button-one {
    margin-top: 0;
  }
  .garden-img {
    width: 397px;
    height: 206px;
    position: absolute;
    top: 600px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
  .description__header p {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
  }
}
@media only screen and (max-width: 500px) {
  .directional-sign {
    position: absolute;
    width: 170px;
    height: 233px;
    top: 530px;
    left: 250px;
    transform: translate(-50%, -50%);
  }
.logo img {
	width: 250px;
}
.leap-pad {
	position: absolute;
	width: 210px;
	height: 153px;
	top: 407px;
	left: 104px;
	transform: translate(-50%, -50%);
}
.whats-happening h1 {
	font-size: 30px;
	width: 80%;
	text-align: center;
}
.image__holder {
	margin: 25px 0;
	width: 85%;
	height: 45%;
	background-image: url(highlandJiggers.jpg);
	background-position: center;
	background-size: cover;
}
}

@media only screen and (max-width: 450px) {
  .garden__list {
    margin-bottom: 250px;
  }
  .childrens__playground {
    width: 297px;
    height: 164px;
    background-image: url(playground.png);
    background-position: center;
    background-size: cover;
    margin: 25px 0px;
    margin-left: -25px;
  }
.member__button {
	width: 250px;
	height: 50px;
	background: #d89c79;
	border: none;
	outline: none;
	margin: 20px 0;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	font-family: "Raleway", sans-serif;
	font-size: 18px;
	color: white;
}
.description__header p {
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
.footer__form input, p {
	margin: 5px 0;
	font-family: "Raleway", sans-serif;
	font-size: 16px;
	line-height: 1.5;
	text-align: left;
}
nav ul {
  width: 100%;
}
.navback {
  width: 100%;
}
.garden-img {
  width: 309px;
  height: 187px;
  position: absolute;
  top: 552px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 99;
}
.garden__wrapper h1 {
	margin: 25px 0;
	font-family: "Playfair Display", serif;
	font-size: 30px;
	color: white;
	letter-spacing: 2.5px;
}

}
@media only screen and (max-width: 400px) {
  .leap-pad {
    position: absolute;
    width: 210px;
    height: 144px;
    top: 415px;
    left: 100px;
    transform: translate(-50%, -50%);
  }
  .directional-sign {
    position: absolute;
    width: 170px;
    height: 233px;
    top: 571px;
    left: 223px;
    transform: translate(-50%, -50%);
  }
  .description {
    margin: 0px 0px 0px 25px;
  }
  .description__body {
    margin-left: 25px;
  }
  .description__header h1 {
    color: #b16e20;
    font-family: "Playfair Display", serif;
    font-size: 40px;
    font-weight: 700;
  }
  .description__header h2 {
    color: #b16e20;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    letter-spacing: 3px;
    font-weight: 700;
    margin-bottom: 25px;
  }
}
@media only screen and (max-width: 340px) {
  .garden-img {
    width: 295px;
    height: 171px;
    position: absolute;
    top: 580px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
}


@media only screen and (max-width: 330px) {
  .directional-sign {
    position: absolute;
    width: 148px;
    height: 195px;
    top: 562px;
    left: 199px;
    transform: translate(-50%, -50%);
  }
  .leap-pad {
    position: absolute;
    width: 178px;
    height: 131px;
    top: 423px;
    left: 89px;
    transform: translate(-50%, -50%);
  }
  .childrens__playground {
    width: 260px;
    height: 146px;
    background-image: url(playground.png);
    background-position: center;
    background-size: cover;
    margin: 25px 0px;
    margin-left: -25px;
  }
  .garden-img {
    width: 216px;
    height: 141px;
    position: absolute;
    top: 625px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
  }
}