* {
  padding: 0;
  margin: 0;
}
a {
  color: #00b7ff;
}
.hero {
  height: 90vh;
  background-image: url(bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

nav {
  font-family: "Raleway", sans-serif;
  width: 90%;
  margin: 40px auto;
  font-size: 20px;
  color: #d89c79;
}
ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hidden_logo {
  width: 55%;
}
li {
  list-style-type: none;
  color: #d89c79;
}
a {
  text-decoration: none;
  color: #d89c79;
}
.logo {
  width: 85%;
  height: 60vh;
}
.logo img {
  width: 430px;
}
.hero__text {
  color: #d89c79;
  font-size: 30px;
  font-family: "Playfair Display SC", serif;
}
.description {
  height: 75vh;
  margin: 0px 190px 0px 190px;
  padding-top: 190px;
}
.description__header {
  width: 40%;
  position: relative;
}
.description__header h1 {
  color: #b16e20;
  font-family: "Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
}
.description__header h2 {
  color: #b16e20;
  font-family: "Playfair Display", serif;
  font-size: 30px;
  letter-spacing: 3px;
  font-weight: 700;
  margin-bottom: 25px;
}
.description__header p {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.leap-pad {
  position: absolute;
  width: 667px;
  height: 345px;
  top: 228%;
  left: 65%;
  transform: translate(-50%, -50%);
}
.directional-sign {
  position: absolute;
  width: 384px;
  height: 491px;
  top: 160%;
  left: 170%;
  transform: translate(-50%, -50%);
}
.description__body {
  width: 40%;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin-left: 190px;
}
.cards {
  margin: 190px;
  margin-top: 5%;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card1 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(card1.jpg);
  background-position: center;
  background-size: cover;
}
.card2 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(card2.jpg);
  background-position: center;
  background-size: cover;
}
.card3 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url(card3.jpg);
  background-position: center;
  background-size: cover;
}
.card1 h1 {
  text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
  color: #b16e20;
}
.card2 h1 {
  text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
  color: #b16e20;
}
.card3 h1 {
  text-shadow: 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff, 0 0 30px #ffffff,
    0 0 20px #ffffff, 0 0 20px #ffffff, 0 0 20px #ffffff;
  color: #b16e20;
}
.card2 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card3 {
  width: 350px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.whats-happening {
  height: 75vh;
  margin: 190px 190px 190px 190px;
  background: #8b9473;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
}
.whats-happening p {
  width: 22%;
  text-align: center;
}
.whats-happening h1 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px 2px #000000;
}
.image__holder {
  margin: 25px 0;
  width: 50%;
  height: 70%;
  background-image: url(highlandJiggers.jpg);
  background-position: center;
  background-size: cover;
}
.footer__section {
  width: 100%;
  height: 25vh;
  background-image: url(footer.png);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  margin: 0px 190px 0px 190px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.visit-us {
  color: #d06f4d;
}
.bottom-logo {
  color: #d06f4d;
}
.footer__form {
  color: #d06f4d;
}
.full-page {
  background-image: url(wp.png);
  background-position: center;
  background-size: cover;
}
